body {
  height: 5000px;
  color: rgb(218, 218, 218);
  background-color: black;

  font-family: 'Roboto';

  padding: 0px;
  margin: 0px;
}

.favicon {
  filter: invert(100%);
}
.left-top img {
  filter: invert(100%) brightness(0.8);
  height: 29px;
}