.user-profile {
  display: flex;
  width: 260px;
  height: 68px;

  align-items: center;

  margin-top: 70px;
  padding: 0px 0px 0px 0px;

  border-radius: 70px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.user-profile:hover {
  background-color: rgb(20, 20, 20);
}
.profile-picture {
  display: flex;

  width: 68px;
  height: 100%;

  align-items: center;
  justify-content: center;

  margin-right: -3px;
}
 
.user-picture {
  width: 62%;
  height: 62%;
  object-fit: cover;

  border-radius: 100%;
}
.user-name {
  font-size: 16px;
  font-weight: bold;
  color: rgb(218, 218, 218);

  margin-top: -6px;
}
.user-handle {
  color: rgb(105, 105, 105);
  font-size: 15px;

  margin-top: 3px;
}

.more {
  display: flex;
  flex: 1;
  height: 100%;

  align-items: center;
  justify-content: end;
  margin-right: 7px;
  padding-right: 8px;
}
.meatballs-menu {
  height: 20px;
  filter: invert(100) brightness(0.8);
}