.post {

  background-color:  rgb(218, 218, 218);
  border: none;
  width: 230px;
 
  font-size: 16px;
  font-weight: bold;

  margin: 18px 0px 50px 0px;
  padding: 16px 0px 16px 0px;

  border-radius: 30px;

  cursor: pointer;
}

.post:hover {
  background-color:  rgb(218, 218, 218, 0.95);
}